{% extends 'base.html.twig' %}

{% block title %}Modifica categoria | ContiApp{% endblock %}
{% block page_title %}Modifica categoria{% endblock %}
{% block page_subtitle %}Aggiorna nome, tipo, colore e icona della categoria selezionata.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/categories.css') }}">
{% endblock %}

{% block body %}
    <section class="panel panel--form">
        <div class="panel__header">
            <div>
                <h2>Categoria #{{ category.id }}</h2>
                <p>Le modifiche sono immediate e si riflettono nei report.</p>
            </div>
        </div>

        {% include 'category/_form.html.twig' with {form: form, submit_label: 'Aggiorna categoria'} %}
    </section>
{% endblock %}
